/*Main css file*/
#updatebox{
	width:10%;
}
#message{
	color:green;
}
.f-dropdown li{
width:100%;
}
.left-buttons{
	margin-bottom:15px!important;
	min-width:150px;
}
  #right-buttons{
    min-width: 200px;
    }
feed{
    max-height: 300px;
    overflow: scroll;
    }
  .full{
    width: 100%;
    max-width:100%;
  }

  #logo{
    height: 100px;
    width: 100px;
  }
/** navbar **/
.header{
	background-color:#f1f1f1;
}
.header .div1{
	text-align:center;
}
.header .div2{
	margin-top:12px;
	text-align:center;
}
.header .div3{
	text-align:center;
	margin-top:25px;
}




div.side-bar h4{
  padding-left:2px; 
  }

div.side-bar{
  float:left;
  width:200px;
  position:absolute;
  height:100%;
  background-color: #f6f6f6;
  font-size: 15px;
}

div.side-bar #cat1, #cat2, #cat3,#cat4{
  //border: 1px solid rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.1);
  height:7%;
  color:black;
  padding-top:9px;
  font-size: 0.9em;
  margin:2px;
}
div.side-bar ul{
  list-style-type: none;
  height:7%;
  padding-left: 5px;
  margin-bottom: 2px;
  border-bottom: 1px black;
  font-size: 0.9em;

}
div.side-bar li{
  list-style-type: none;
  height:7%;
  padding-left: 5px;
  border-bottom: 1px black;
  font-size: 0.9em;
}

div.events-content{
  width:65%;
  position:absolute;
  left:20%;
}
div.events-thumbnail{
  width:15%;
  float:right;
  clear:both;
  border:1px dotted green;
  height:100%;
  position: absolute;
  right:0px;
}
div.details-name{
  text-align: center;
  font-size:50px;
  border-bottom:2px solid black;
  margin:10px;
}

div.details-aims{
  text-align: center;
  padding:10px;
  margin:10px;
}

div.details-desc{
  text-indent: 5%;
  padding: 5px;
  margin:5px;
}

div.details-moti{
  text-align: center;
  padding:10px;
  margin:10px;
}

div.details-cred{
  text-indent: 5%;
  padding: 5px;
  margin:5px;
}

#news-feed{
  float:right;
  min-height: 300px;
  background-color: rgba(0,0,0,0.005);
}

#news-feed h3{
  border-bottom: 1px dotted black;
  padding: 5px;
  margin:5px;
  text-align: center;
}

#newsfeed{
  border: solid 1px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 6px rgba(0,0,0,0.01);
  background-color: rgba(0,0,0,0);
  min-height: 100px;
  text-indent: 20px;
  padding:5px;
  margin:10px;
}

#newsedit, #newsupdate{
  height: 35px;
  width:100px;
  margin:10px;
  text-align: center;
  padding: 5px;
  vertical-align: bottom;
}

#leftgrp{
  background-color: rgba(0,0,0,0.01);
  border-right:1px solid rgba(0,0,0,0.1);
  margin-top: -5px;
  padding-top: 10px; 
}

#leftgrp button{
  margin-top: 5px;
  height:35px;
  width: 54px;
  padding:5px;
}

#header{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  background-color:rgba(0,0,0,0.05); 
}

#image-upload{
  padding:100px;
  padding-left: 200px;
  border:1px solid rgba(0,0,0,0.2);
  margin:50px;
  margin-top: 30px;
  min-height:300px;
}

#moto{
  
}

#moto-desc{

  text-align: center;
}

#why-nss{
  padding: 0px;
  margin-top:10px;

}

#form-css{
  background-color:white;
  color:white;
  font-size:18px;
  margin-top:40px;
  padding-bottom:30px;
  padding-top:30px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
  //border: 1px solid #e74c3c;
}

#form-css button{
  float:right;
  margin: 20px;
  margin-bottom:10px;
  padding: 10px;
  width:100px;
  height:55px;
  text-align: center;   
}

#form-css span{
  color:black;
  float:left;
  text-align: left;
  padding-left:5px;
}

#form-nav{
  height:50px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.9);
}

#form-title{
  color: #e74c3c;
  font-size:26px;
  border-left:3px solid #e74c3c;
  font-size: 25px;
}

#sign-in-type{
  margin-top:40px;
  position:relative; 
  padding-top: 50px; 
}

#sign-in-type button{
  margin:10px;
  display:inline;
  padding: 20px;
  min-width: 200px; 
}

#form-title h2{
  color: #e74c3c;
}

#profile-css{
  //background-color:#4aa3df;
  margin-top:75px;
  margin-bottom:50px;
  padding:0px;
  text-align:justify;
  border:1px solid #4aa3df;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
  min-height:470px;
}

#profile-pic{
  //border:1px solid #4aa3df;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.2);
  margin:75px 0px 75px 35px;
}

#profile-details{
  margin:17px;
  padding-top: 20px;
  float:right;
  border-left:1px solid #4aa3df;
  height: 300px;
}

#profile-details table{
  width:100%;
  border:none;
  box-shadow: inset 0px 0px 2px rgba(0,0,0,0.2);

}

#profile-details td{
  //border:0.5px solid rgba(0,0,0,0.1);
}

##profile-details tr{
  
}

#profile-events td{
  text-align: ;
}
