	<div class="row header full" id="header">
		<div class="medium-centered">
    	<div class="large-2 columns div1"><a href="#"><img id="logo"src="img/nss.png" ></a>
		</div>
    	<div class="small-12 large-8 columns div2" > <div><h1>National Service Scheme | IITM</div></h1>
		</div>
    	<div ng-hide="loggedin" class="large-2 columns div3"><button class="small" ng-click="login()">Sign in</button>
    	</div>
		<div ng-show="loggedin" class="large-2 columns div3"><button class="small" ng-click="logout()">Sign out</button>
    	</div>
    	</div>
	</div>
    <div class="row full"> 
    <div id="leftgrp" class="large-2 columns float-left">
    	<center>
			<button class="left-buttons small">What do we do</button>
    	<a href="#/events"><button class="left-buttons small">Events</button></a>
    	<a href="#/projects"><button class="left-buttons small">Projects</button></a>
    	<a href="#/winterns"><button class="left-buttons small">Winterns</button></a><br>
    	<button class="left-buttons small">Blog</button><br>
    	<button class="left-buttons small">Gallery</button>
    	<button class="left-buttons small">Contact us</button>
    	<button class="left-buttons small">Useful Links</button>
    	</center>
	</div>
	<div class="large-6 columns" ng-hide="useradmin">
	<div id="wowslider-container1">
  		<div class="ws_images"><ul>
    			<li><img src="data1/images/img_chania2.jpg" alt="img_chania2" title="img_chania2" id="wows1_0"/></li>
			    <li><img src="data1/images/img_flower.jpg" alt="img_flower" title="img_flower" id="wows1_1"/></li>
			    <li><a href="http://wowslider.com/vi"><img src="data1/images/img_flower2.jpg" alt="slider" title="img_flower2" id="wows1_2"/></a></li>
			    <li><img src="data1/images/img_chania.jpg" alt="img_chania" title="img_chania" id="wows1_3"/></li>
		  </ul></div>
  <div class="ws_bullets"><div>
    <a href="#" title="img_chania2"><span><img src="data1/tooltips/img_chania2.jpg" alt="img_chania2"/>1</span></a>
    <a href="#" title="img_flower"><span><img src="data1/tooltips/img_flower.jpg" alt="img_flower"/>2</span></a>
    <a href="#" title="img_flower2"><span><img src="data1/tooltips/img_flower2.jpg" alt="img_flower2"/>3</span></a>
    <a href="#" title="img_chania"><span><img src="data1/tooltips/img_chania.jpg" alt="img_chania"/>4</span></a>
  </div></div>
  <div class="ws_shadow"></div>
  </div>
</div>
  <script type="text/javascript" src="engine1/wowslider.js"></script>
  <script type="text/javascript" src="engine1/script.js"></script>

	<div class="large-6 columns" ng-show="useradmin" id="image-upload">
<!--  <form action="http://localhost/nss/api/uploadimage.php" method="post" enctype="multipart/form-data">    -->
	    <b>Choose an image to post here:</b>
	    <center>
	    <input type="file" ng-model="data.user_files" id="user_files"/><br />
	    <!--<input type="submit" ng-click="imgupload()" placeholder="Submit" />-->
		</center>
		<div class="large-3 columns">
			<table id='imagetable'>
				<tr>
					<th>S No </th>
					<th>Image</th>
					<th>Remove</th>
				</tr>
			</table>
		</div>
	</div>
	<div class="large-3 columns" id="news-feed"> 
		<h3>NEWS FEED</h3>
		<div id="newsfeed" ng-model="newsfeed">
			{{newsfeed}}
		</div>
		<div ng-if="useradmin">
			<center>
			<button id="newsedit" ng-click="editnewsfeed()">Edit</button>
			<button id="newsupdate" ng-click="updatenewsfeed()">Update</button>
			</center>
		</div>
	</div>
	</div>
	<div class="row full  align-center" id="moto">
		<div class="large-9 large-offset-1 columns" id="moto-desc" ><i>The Motto of NSS "Not Me But You", reflects the essence of democratic living and upholds the need for self-less service. NSS helps the students develop appreciation to other person's point of view and also show consideration to '/other living beings. The philosophy of the NSS is well doctrined in this motto, which underlines/on the belief that the welfare .of an individual is ultimately dependent on the welfare of the society on the whole and therefore, the NSS volunteers shall strive for the well-being of the society.<i></div>
	<div class="large-2 columns float-right" id="why-nss"><button id="right-buttons">why nss?</button></div>
	</div>

