  <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">National Service Scheme | IITM</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right" ng-if="fullname">
      <li ng-if="leader == true">
        <a href="#/upload_credits">Upload credits</a>
      </li>
      <li class="has-dropdown">
        <a dropdown-toggle="#dropdown1">{{ fullname }}</a>
        </li>
        <ul class="f-dropdown" id="dropdown1">
          <li><a href="#/profile">Profile</a></li>
          <li><a ng-click="RemoveCookie()">Log out</a></li>
        </ul>
    </ul>
  </section>
  </nav>
 
  <center>
<div id="sign-in-type" class="large-6  large-offset-3 columns">
  <button ng-click="volunteer()">Sign in as Volunteer</button>
  <button ng-click="pr()">Sign in as PR</button>
  <button ng-click="manager()">Sign in as Managerial member</button>
</div>

