 <nav class="top-bar" data-topbar role="navigation" id="form-nav">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#/">National Service Scheme | IITM</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right" ng-if="fullname">
        <li ng-if="leader == true">
          <a href="#/upload_credits">Upload credits</a>
        </li>
        <li class="has-dropdown">
          <a dropdown-toggle="#dropdown1">{{ fullname }}</a>
          </li>
          <ul class="f-dropdown" id="dropdown1">
            <li><a href="#/profile">Profile</a></li>
            <li><a ng-click="RemoveCookie()">Log out</a></li>
          </ul>
      </ul>
    </section>
  </nav>
<form  id="form-css" class="large-4 large-offset-4 columns" ng-submit="submit()" ><!-- think like negation of false/nil shown if empty-->

       <div class="row">

      <div class=" small-3 large-3 columns"  ><a href="#"> <img src="img/nss.png" ></a>
    </div>
      <div class=" small-7 large-9 columns " id="form-title" > 
      <b><h2>National Service Scheme</h2></b><h4>IIT Madras</h4>
    </div>

     </div >

      <div class="row">
        <br>
        <span class="prefix">Roll number
        <i class="fa fa-user-plus " ></i>
        </span><input placeholder="Eg:NA14B010" ng-model="user.roll" type="text" required>
      </div>
      <div class="row">
        <span class="prefix">Password
          <i class="fa fa-lock"></i></span><input placeholder="password" ng-model="user.pass" type="password" required>
      </div>
      <button class="success button" type="submit" style="background-color:#FE642E;
                                                          border-radius:10px" >Login</button>
    </form>
    </center>
  
</div>
