 <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">National Service Scheme | IITM</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right" ng-if="fullname">
      <li ng-if="leader">
        <a href="#/upload_credits">Upload credits</a>
      </li>
      <li class="has-dropdown" ng-if="loggedin">
        <a dropdown-toggle="#dropdown1">{{ fullname }}</a>
        </li>
        <ul class="f-dropdown" id="dropdown1">
          <li><a href="#/profile">Profile</a></li>
          <li><a ng-click="RemoveCookie()">Log out</a></li>
        </ul>
    </ul>
  </section>
</nav> 
		<div class="side-bar">
      <h4><b>List of Projects</b></h4>
      <a href=""><div ng-click="category('cat1')" id="cat1">Content generation/translation</div></a>
          <div id="ct1" ng-hide="t1">
            <ul>
                <li ng-repeat="project in projectslist" ng-click="getprojectdetails(project.projectname)"><a href="">{{project.projectname}}</a></li>
            </ul>
          </div>
      <a href=""><div ng-click="category('cat2')" id="cat2">Teaching project</div></a>
					<div id="ct2" ng-hide="t2">
            <ul>
                <li ng-repeat="project in projectslist" ng-click="getprojectdetails(project.projectname)"><a href="">{{project.projectname}}</a></li>
            </ul>
          </div>
      <a href=""><div ng-click="category('cat3')" id="cat3">Bring A Change</div></a>
					<div id="ct3" ng-hide="t3">
            <ul>
                <li ng-repeat="project in projectslist" ng-click="getprojectdetails(project.projectname)"><a href="">{{project.projectname}}</a></li>
            </ul>
          </div>
      <a href=""><div ng-click="category('cat4')" id="cat4">Others</div></a>
					<div id="ct4" ng-hide="t4">
            <ul>
                <li ng-repeat="project in projectslist" ng-click="getprojectdetails(project.projectname)"><a href="">{{project.projectname}}</a></li>
            </ul>
          </div>
			</div>
       <div class="events-content">
        <div ng-repeat="detail in projectdetails">
            <div class="details-name">{{detail.projectname}}</div>
            <div class="details-aims">" {{detail.aim}} "</div>
            <div class="details-desc">{{detail.description}}</div>
            <div class="details-moti"><i>"{{detail.motivation}}"<i></div>
            <div class="details-cred"><b>Credits provided:</b> {{detail.credits}}
<span ng-show="useradmin" id="upspan"><input id="updatebox" type="number" ng-model="detail.credits" value="{{ detail.credits }}" min="0"><button ng-click="updatecredit(detail.projectname,detail.credits)" class="tiny" >Update</button></span></div>
        </div>
			</div>
      <div class="events-thumbnail">
		</div>

