 <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">National Service Scheme | IITM</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right" ng-if="fullname">
       <li class="has-dropdown">
        <a dropdown-toggle="#dropdown1">{{ fullname }}</a>
        </li>
        <ul class="f-dropdown" id="dropdown1">
          <li><a href="#/profile">Profile</a></li>
          <li><a ng-click="RemoveCookie()">Log out</a></li>
        </ul>
    </ul>
  </section>
</nav>
<table>
	<tbody>
		<tr>
		<td>Name</td>
		<td>Event name</td>
		<td>Earned credits</td>
		</tr>
  	<tr ng-repeat="vol in vols">
			<td>{{ vol.name }}</td>
			<td>{{ vol.events_name }}</td>
			<td>{{ vol.earned_credits }}</td>
			<td ><input type="number" ng-model="vol.earned_credits" min="0" max="{{ maxcredits }}" value="{{ vol.earned_credits }}"></td>
			<td><input type="text" ng-model="vol.reason"  value="{{ vol.reason }}"><button class="tiny" ng-click="updatecredit(vol.name,vol.events_name,vol.earned_credits,vol.reason)">Update</button></button></td>
		</tr>
	</tbody>
</table>
