 <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">National Service Scheme | IITM</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right" ng-if="fullname">
      <li ng-if="leader">
        <a href="#/upload_credits">Upload credits</a>
      </li>
      <li class="has-dropdown" ng-if="loggedin">
        <a dropdown-toggle="#dropdown1">{{ fullname }}</a>
        </li>
        <ul class="f-dropdown" id="dropdown1">
          <li><a href="#/profile">Profile</a></li>
          <li><a ng-click="RemoveCookie()">Log out</a></li>
        </ul>
    </ul>
  </section>
</nav> 
<!-- <div>
<h2>NSS Winterns(Winter+Interns):</h2>
During the month of December, after the start of NSS Activities , All Volunteers,Friends of 
NSS,Defaulters are given an opportunity to work with an NGO over the period of a week or so. 
You are required to apply for the same, giving your preference order of NGOs. This is one of the 
best aspects of working with NSS. Every year, volunteers have an exciting and stimulating time 
working with dedicated people in various NGOs.
</div> -->
<!-- <div ng-repeat="w in winterns">
<div data-role="collapsibleset">
	<div data-role="collapsible">
    <h1>{{w.eventname}}</h1>
    <p>{{w.description}}</p>
    <p>{{w.website}}</p>
    </div>
</div>

</div> -->
<div class="side-bar">
<h3>Winterns</h3>
<ul ng-repeat="w in winterns" ng-click="showwinterndetails(w.eventname,w.description,w.website)">
<a href="">{{w.eventname}}</a>
</ul>
</div>

<div class="events-content">
  <div class="details-name">{{winternname}}</div>
  <div class="details-desc">{{winterndescription}}</div>
  <div>{{winternwebsite}}</div>
</div>