 <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">National Service Scheme | IITM</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right" ng-if="fullname">
			<li ng-if="leader">
        <a href="#/upload_credits">Upload credits</a>
      </li>
      <li class="has-dropdown">
        <a dropdown-toggle="#dropdown1">{{ fullname }}</a>
        </li>
        <ul class="f-dropdown" id="dropdown1">
          <li><a href="#/profile">Profile</a></li>
          <li><a ng-click="RemoveCookie()">Log out</a></li>
        </ul>
    </ul>
  </section>
</nav>

<container class="large-10 large-offset-1   columns" id="profile-css">
  <center>
  <div id="profile-pic" class="large-2  columns">
<img style="margin-bottom:10px;" width="200px" min-height="200px" src="photo.png">
  </div>
</center>
  <div id="profile-details" class="large-9 columns">
      <table>
        <tbody>
		<tr>
			<td colspan="2"><b>Name</b></td>
			<td>{{fullname}}</td>
		</tr>
		<tr>
			<td colspan="2"><b>Roll Number</b></td>
			<td>{{rollno}}</td>
		</tr>
		<tr>
			<td colspan="2"><b>Hostel</b></td>
			<td>{{hostel}}</td>
		</tr>		
		<tr ng-repeat="project in eventinfo">
			<td colspan="2"><b>Project</b></td>
			<td>{{project.eventname}}</td>

			<td colspan="2"><b>Credits</b></td>
			<td>{{project.credits}}</td>

			<td colspan="2"><b>Reason</b></td>
			<td>{{project.reason}}</td>

		</tr>
		<tr ng-repeat="event in eventlist">
			<td colspan="2"><b>Event</b></td>
			<td>{{event.event_name}}</td>

			<td colspan="2"><b>Credits</b></td>
			<td>{{event.credits}}</td>
		</tr>
		<tr>
			<td colspan="2"><b>Project Credits</b></td>
			<td>{{prcredits}}</td>
		</tr>
		<tr>
			<td colspan="2"><b>Event Credits</b></td>
			<td>{{evcredits}}</td>
		</tr>
		<tr>
			<td colspan="2"><b>Total Credits</b></td>
			<td>{{evcredits + prcredits}}</td>
		</tr>
        </tbody>
      </table>

</center>
</div>
